.menu-buttons {
    margin-top: 5vh;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    height: 25vh;
}

.menu-buttons button {
    height: 60px;
    width: 160px;
    border: 3;
    border-radius: 0.25rem;
    border-color: var(--highlight-color);
    font-size: 1.5rem;
    line-height: 1.2;
    white-space: nowrap;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    cursor: pointer;
    border-radius:50px;
    box-shadow: 1px 3px 3px 3px rgba(0,0,0,0.3);
    
}

.dark-button{
    background-color: var(--dark-color);
    color: var(--light-color);
}
.dark-button:hover{
    background-color:var(--light-color);
    border-color: var(--dark-color);
    color: var(--dark-color);
}

.background-button{
    background-color: var(--background-color);
    color: var(--light-color); 
}
.background-button:hover{
    background-color:var(--light-color);
    border-color: var(--background-color);
    color: var(--background-color);
}

.inverted-background-button{
    color: var(--darkened-background-color);
    background-color: var(--light-color); 
}
.inverted-background-button:hover{
    background-color:var(--darkened-background-color);
    border-color: var(--light-color); 
    color: var(--light-color); 
}
.settings-button{
    background-color: var(--bright-accent-color);
    color: var(--dark-color);
}
.settings-button:hover{
    background-color:var(--dark-color);
    border-color:var(--bright-accent-color); 
    color: var(--bright-accent-color);
}
.bright-accent-button{
    background-color: var(--bright-accent-color);
    color: var(--dark-color);
}
.bright-accent-button:hover{
    background-color:var(--dark-color);
    border-color:var(--bright-accent-color); 
    color: var(--bright-accent-color);
}





/* below is in-game stuff */
.in-game-buttons{
    margin-top: 5vh;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height:55vh;
}
    .in-game-buttons button {
        height: 60px;
        width: 160px;
        border-radius: 0.25rem;
        font-size: 1.5rem;
        line-height: 1.2;
        white-space: nowrap;
        padding: 0.25rem 0.5rem;
        margin: 0.25rem;
        cursor: pointer;
        border-radius: 5%;
    }
    .game-buttons-container{
        background-color: var(--dark-color-with-opacity);
        width: 180px;
        max-height: 475px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 15px;
    }
        .game-buttons-container h2 {
            color: var(--light-color);
            order: 1;
        }



        .game-buttons{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            order: 2;
            margin-bottom: 2vh;
            margin-top: 2vh;
        }

        .expand-collapse-button{
            position: sticky;
            height: 24px;
            width: 24px;
            bottom: 5%;
            align-self: flex-end;
            margin-right: 5px;
            order: 3;
            cursor: pointer;
        }

            #vertical-div{
                position: absolute;
                height:24px;
                width: 3px;
                left: 45%;
                background-color: var(--light-color);
            }

            #horizontal-div{
                position:absolute;
                height:3px;
                width: 24px;
                top:45%;
                background-color:var(--light-color)
            }
.hide-display{
    display: none
}