:root{
    --square-size: 11vh;/*min(9vh,9vw);*/
    --margin-size: 4vw;/*min(10vh,10vw);*/
    --font-opacity: 1;
    --board-opacity: 1;
    /*first palette */
    --dark-color: #ed6a5a;
    --dark-color-with-opacity: rgba(237, 106, 90,.75);
    --light-color: #e6ebe0;
    --background-color: #5ca4a9;
    --darkened-background-color: #437c80;
    --bright-accent-color: #f4f1bb;
    --highlight-color: #9bc1bc;
    /*second palette 
    --dark-color: #05668d;
    --dark-color-with-opacity: #05668d;
    --light-color: #f0f3bd;
    --background-color: #028090;
    --darkened-background-color: #028090;
    --bright-accent-color: #02c39a;
    --highlight-color: #00A896;
*/
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
button{
    outline:none;
    border:none;
}
button:hover{
    border: solid 2px;
}

body {
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    }
    .menu-bar{
        position:absolute;
        display:flex;
        flex-direction: column;
        background-color: var(--background-color);
        width: 200px;
        height: 100vh;
        justify-content: flex-start;
        align-items: center;
        margin-right: auto;
        left:0px;
    }

        .title{
            display:flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            color: var(--light-color);
            background-color: var(--dark-color);
            font-size: 32px;
            height:140px;
            width: 160px;
            font-weight: 950;
            margin: 10px;
            margin-top: 20px;
            border-radius: 20%;
        }

        #login{
            justify-self: flex-end;
            margin-top:auto;
        }

    .game-container{ /* contains board & history */
        display:flex;
        flex-direction: row;
        align-items: center;
        height:100vh;
    }


    


 
/*                                        */
/*                                        */    
/*  M  E  D  I  A    Q  U  E  R  I  E  S  */
/*                                        */
/*                                        */

/* Desktop */
@media (min-width: 1270px){
    body{
        display:flex;
        justify-content: center;
        align-items: flex-start;
        height:100vh;
        width:100vw;
    }
    
            .board-container{
                padding: 2vw;
            }
        
            .history-container{
                height: calc(8*var(--square-size));
                width: 200px;
                margin-right:4vw;
            }


}


/* Tablet */
@media ( max-width: 1270px){
    
}


/* Mobile */
@media (max-width:959px){
}

/*                                                   */
/*                                                   */
/*  E  N  D    M  E  D  I  A    Q  U  E  R  I  E  S  */
/*                                                   */
/*                                                   */

  