/*                               */
/*                               */
/*  G  L  O  B  A  L    C  S  S  */
/*                               */
/*                               */
.game-container{ /* contains board & history */
        opacity:var(--board-opacity);
    }
    .board-container{
        display: flex;
        flex-direction: column;
        
    }
        .board{
            display:flex;
            flex-direction:column;
            /* FLIP HERE */
            justify-content: center;
            width: calc(8*var(--square-size));
            height: calc(8*var(--square-size));
            margin-top:1%;
            margin-bottom:1%;
            overflow:hidden;
            border-radius:5px;
            box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.5);
        }
        .dark-player {
            flex-direction: column-reverse;
        }

        /* Board CSS*/
        .player-info{
            width: calc(8*var(--square-size));
            display:flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .turn-indicator{
            font-size: 30px;
            font-weight: bold;            
            border-radius:5px;
        }
        .white-turn-indicator{
            background: var(--light-color);
            color: var(--dark-color);
        }
        .black-turn-indicator{
            background: var(--dark-color);
            color: var(--light-color);
        }
        #yourTurn{ /*this should be renamed to not-your-turn*/
            font-size: 30px;
            opacity:.1;
        }
        .square {
            display:flex;
            align-items: center;
            justify-content: center;
            height: var(--square-size);
            width: var(--square-size);
            padding:0;
            float: left;
            border: 0px;
            z-index: 1;
        }
        .square img{
            height:8vh;
            width:8vh;
        }
        #dark{
            background: var(--dark-color);
        }
        #light{
            background: var(--light-color);
        }
        #selected{
            background: var(--bright-accent-color);
        }
        #possible-move-dark{
            background-image: radial-gradient(var(--background-color) 0%, var(--background-color) 15%, var(--dark-color)16%);
        }
        #possible-move-light{
            background-image: radial-gradient(var(--background-color) 0%, var(--background-color) 15%, var(--light-color)16%);
        }
        .board-row{
            display:flex;

            /*FLIP HERE*/
        }
        .dark-player .board-row{
            flex-direction: row-reverse;
        }
        .board-row::after{ /* wtf is this doing*/
            clear:both;
            content:"";
            display:table;
        }
    
    .history-container{
        display:flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: var(--light-color);
        color:var(--dark-color);
        font-size: 18px;
        border: var(--highlight-color) .5rem solid;
        border-radius: 5px;
        overflow-y: auto;
        box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.5);
    }
        .history-row{
            display: flex;
            width: 150px;
            justify-content: space-around;
            align-items: flex-start;
            color: var(--background-color);
            font-weight: normal;
            font-size: 1rem;
            opacity:1;
        }

        .history-entry{
            width: 40px;
        }
    .history-container h1 {
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: var(--dark-color);
        color: var(--light-color);
        height: 70px;
        width: 100%;
        border-bottom: var(--highlight-color) .5rem solid;
        margin-bottom: 3%;
    }

    .history-container::-webkit-scrollbar
    {
        width: .2rem;
        background-color:var(--highlight-color);
    }

    .history-container::-webkit-scrollbar-thumb
        {
            background-color: var(--dark-color); 
            background-image: -webkit-linear-gradient(45deg,
                                                    rgba(255, 255, 255, .2) 25%,
                                                    transparent 25%,
                                                    transparent 50%,
                                                    rgba(255, 255, 255, .2) 50%,
                                                    rgba(255, 255, 255, .2) 75%,
                                                    transparent 75%,
                                                    transparent)
        }

#neutralshade {
    background-color:var(--highlight-color);
    border: solid 1px black;
}
#show-promoter{
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 50;
    top: 16.5vh;
}



















